@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-2 col-sm-1">
    </div>
    <div class="col-md-8 col-sm-8">
        <h2>Asp In A Net: The Dangerous Pet Shop</h2>
        <p>
            You can find all your dangerous pet needs here on Asp In A Net. Where you can buy asp's nets to catch more asps. Crocodiles, large cages for crocodiles. Pumas and their cousins lions. Or spiders venomous or otherwise.
        </p>
    </div>
    <div class="col-md-2 col-sm-1">
    </div>
</div>
<div class="links">
    @Html.ActionLink("Catalogued Products", "Index", "CataloguedProducts")<br />
    @Html.ActionLink("Catalogues", "Index", "Catalogues")<br />
    @Html.ActionLink("Customers", "Index", "Customers")<br />
    @Html.ActionLink("Orders", "Index", "Orders")<br />
    @Html.ActionLink("Product Orders", "Index", "ProductOrders")<br />
    @Html.ActionLink("Products", "Index", "Products")<br />
    @Html.ActionLink("Staff", "Index", "Staffs")<br />
</div>