@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
<div style="display:flex; justify-content:center">
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        if(ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }
        @Html.Hidden("ReturnUrl", ViewBag.ReturnUrl as string)
        <div class="row" style="display:flex; justify-content:center">
            @Html.Label("Username: ")
            <div class="col-md-6"></div>
            @Html.TextBox("Username")
        </div>
        <div class="row" style="display:flex; justify-content:center">
            @Html.Label("Password: ")
            <div class="col-md-6"></div>
            @Html.Password("Password")
        </div>
        <input type="submit" value="Login" class="button" />
    }
</div>
