
@{
    ViewBag.Title = "Manage";
}

<h2>Manage</h2>

<div class="links">
    @Html.ActionLink("Catalogued Products", "Index", "CataloguedProducts")<br />
    @Html.ActionLink("Catalogues", "Index", "Catalogues")<br />
    @Html.ActionLink("Customers", "Index", "Customers")<br />
    @Html.ActionLink("Orders", "Index", "Orders")<br />
    @Html.ActionLink("Product Orders", "Index", "ProductOrders")<br />
    @Html.ActionLink("Products", "Index", "Products")<br />
    @Html.ActionLink("Staff", "Index", "Staffs")<br />
</div>